 
 


h1{
  margin: 10px;
  padding: 10px;
}


.who-we-are{
  margin:10px;
  padding:10px;
}
.img-fluid{
  margin:15px;
  padding:15px;
}




.heading{
  align-content: center;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
html,
body,
header,
.view {
    height: 100%;
}

.container{
  align-self: center;
}

h3{
  margin: 50px;
  padding: 50px;
  font-family: 'Lato', sans-serif;
  font-family: 'Hind', sans-serif;
}

.carouselslide > .item > img{
  margin:auto;
  }

  h4{
    margin: 15px;
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-family: 'Hind', sans-serif;
  }

  .fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .carousel-item{
    margin-left:20%;
  }
  .d-block{
    margin-left:20%;
  }

  .column{
    margin: 20px;
    scroll-padding-top: 10%;
  }

  .navbar-dark .navbar-nav .nav-link{
    color: black;
  }

  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .bg {
    /* The image used */
    background-image: url("https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    margin-top: -15px;
    width:100%;
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container{
    background-color: azure;
  }